.timeline-container {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  color: #e1e8ed;
  padding: 20px;
  /* margin: 0 auto; */
  border: 1px solid #283d53;
  background-color: #15202b;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

#main-input-element {
  flex: 1;
  padding: 20px;
  padding-bottom: 80px;
  color: #e1e8ed;
  /* height: auto; */
  height: 200px;
  font-size: 18px;
  border: 1px solid #1d9bf0;

/* 
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important; */

  border-radius: 0px;
  background-color: #15202b;
 
}

::placeholder {
  color: #657786;
}

#photo-icon {
  cursor: pointer;
  position: absolute;
  right: 90%;
  top: 105px;
  transition: transform 0.2s ease-in-out;
}

#photo-icon:hover {
  transform: scale(1.1);
}

#gif-icon {
  cursor: pointer;
  position: absolute;
  right: 85%;
  top: 105px;
  transition: transform 0.2s ease-in-out;
}

#gif-icon:hover {
  transform: scale(1.1);
}

#just-for-styling-pencil {
  cursor: pointer;
  position: absolute;
  right: 70%;
  top: 105px;
  transition: transform 0.2s ease-in-out;
}

#just-for-styling-pencil:hover{
  transform: scale(1.1);
}

#just-for-styling-smile{
  cursor: pointer;
  position: absolute;
  right: 65%;
  top: 105px;
  transition: transform 0.2s ease-in-out;
}

just-for-styling-smile:hover{
  transform: scale(1.1);
}

#calendar-icon {
  cursor: pointer;
  position: absolute;
  right: 80%;
  top: 105px;
  transition: transform 0.2s ease-in-out;
}

#calendar-icon:hover {
  transform: scale(1.1);
}

#pin-icon {
  cursor: pointer;
  position: absolute;
  right: 75%;
  top: 105px;
  transition: transform 0.2s ease-in-out;
}

#pin-icon:hover {
  transform: scale(1.1);
}

#submit-and-icon {
  display: flex;
  justify-content: end;
}

.add-button {
  border-radius: 20px;
  padding: 10px 20px;
  background-color: #1d9bf0;
  color: #ffffff;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  width: 25%;
}

#display-user{
  font-weight: 550;
  font-size: 35px;
  padding-bottom: 10px;
}

.add-button:hover {
  background-color: #0c8cd4;
}

.timeline {
  display: flex;
  flex-direction: column-reverse;
}

#following {
  font-size: 44px;
  font-weight: bold;
}

.timeline-item {
  padding: 15px;
  border: 1px solid #9cb3c3;
  color: #e1e8ed;
  margin-bottom: 10px;
  font-size: 25px;
  border-radius: 10px;
  background-color: #253a4d;

}

.timeline-item:hover{
  background-color: rgb(29, 43, 56);
  cursor: pointer;
}

#user-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#v-icon{
  padding-top: 2px;

}

#user-links {
  cursor: pointer;
  display: flex;
  padding: 5px;
  padding-right: 15px;
  gap: 12px;
}

#at-symbol {
  padding-top: 5px;
}

#user-links:hover {
  background-color: #273d51;
  border-radius: 10px;
}

#user-links h4 {
  margin: 0;
  font-size: 25px;
  padding: 5px;
}

#user-links p {
  margin: 0;
  color: #657786;
  font-size: 24px;
}

.item-content {
  margin-bottom: 10px;
  margin-left: 44px;
}

.item-timestamp {
  font-size: 12px;
  margin-left: 44px;

  color: #657786;
}

#likes-comments {
  display: flex;
  padding: 15px;
  gap: 50px;
  margin-left: 25px;

}


#like-icon-id {
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.bi-emoji-smile{
  transition: 0.2s ease-in-out;

}
.bi-emoji-smile:hover{
  transform: scale(1.1);
}

#like-icon-id:hover{
  transform: scale(1.5);
}

#comment-icon-id {
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

#comment-icon-id:hover{
  transform: scale(1.5);
}

#retweet-icon-id {
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

#retweet-icon-id:hover{
  transform: scale(1.5);
}

#the-working-image{
  border: 1px solid #283d53;
  margin-bottom: 15px;
  border-radius: 5px;
}

#complete-time-page-body{
  display: flex;
}

#post-a-spark-button{
  width: 80px;
}

#name-name {
  font-weight: 900;
}





