img{
    height: 500px;
}

#home-page{
    display: flex;
    padding-right: 400px;
    margin-bottom: 600px;
    justify-content: end;
    align-items: center;

}

.btn-primary {
    background-color: #92C7CF !important; 
    color: #FBF9F1 !important; 
  }
  
  .btn-primary:hover {
    background-color: #AAD7D9; 
  }