.navbar-container {
    width: 250px;
    height: 100vh;
    background-color:#404258;
    padding: 30px;
    margin-left: 60px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .navbar {
    width: 100%;
  }
  
  .navbar-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  
  .navbar-item {
    margin-bottom: 20px;
    width: 100%;
  }
  
  .navbar-link {
    text-decoration: none;
    color: #FBF9F1;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 28px;
    display: block;
    width: 100%;
    transition: background-color 0.3s;
  }
  
  .navbar-link:hover {
    background-color: #474E68;
  }
  