.spark-page-container {
    min-width: 600px;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    border: 1px solid #e6ecf0;
    border-radius: 10px;
    color: white;
    background-color: #192734;
  }
  
  .spark-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
    margin-bottom: 25px;
    border-bottom: 1px solid white;
  }
  
  #spark-user-container {
    display: flex;
    align-items: center;
  }
  
  #user-info h4 {
    font-size: 23px;
    font-weight: bold;
    margin-right: 10px;
    cursor: pointer;
  }
  
  #user-info p {
    color: gray;
    font-size: 21px;
    cursor: pointer;
  }

  #user-info {
    display: flex;
    gap: 8px;
  }

  #v-icon-sp{
    padding-bottom: 5px;
  }
  
  .spark-body {
    font-size: 25px;
    line-height: 1.5;
    margin-top: 10px;
  }
  
  .spark-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
  }
  
  .spark-timestamp {
    color: gray;
    font-size: 19px;
    margin-top: 10px;
  }
  
  .spark-icons {
    display: flex;
    justify-content: space-between;
    max-width: 150px;
    margin-top: 15px;
    margin-bottom: 25px;
  }
  
  .spark-comment-icon,
  .spark-retweet-icon,
  .spark-like-icon {
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  
  .spark-comment-icon:hover,
  .spark-retweet-icon:hover,
  .spark-like-icon:hover {
    transform: scale(1.5);
}

#full-full-body {
  display: flex;
}
  